$dusty-gray: #999;

@import '../vendor/rto-websites/elebee-core/src/Admin/assets/css/_admin';
@import 'admin/featured-image';

li {
  .wp-menu-image::before {
    opacity: 0.6;
  }

  &:hover {
    .wp-menu-image::before {
      color: $dusty-gray !important;
      opacity: 0.1;
    }
  }
}

/* stylelint-disable-next-line selector-max-id */
#postimagediv .inside img {
  width: 100%;
}
